  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./style.css">
        <script type="text/javascript" src="./phaserJS/phaser.min.js"></script>
    <title>Space Invaders Logout Screen</title>
      <style>
      nav {
        display: flex;
        flex-wrap: wrap;
      }
      nav a {
        text-decoration:solid;
        font-weight: bolder;
        color: white;
        display: block;
        padding: 15px 25px;
        text-align: center;
        background-color: rgb(189, 185, 185);
        color: #464141;
        margin: 0;
        font-family: sans-serif;
        font-size: larger;
      }
      nav a:hover {
        background-color: #777777;
        color: #ffffff;
      }
    </style>
  </head>
  <body>
   <nav>
        {{#if logged_in}}
          <a href="/views/profile.handlebars">profile</a> | <a href="/views/homepage.handlebars">Homepage</a> | <a href="/views/game.handlebars">Game</a> |
          <button class="no-button" id="logout">logout</button>
        {{else}}
          <a href="/views/login.handlebars">Login</a> or <a href="/views/signup.handlebars">Sign up</a>
        {{/if}}
   </nav>
    {{{body}}}
   {{#if logged_in}}
      <script src="/js/logout.js"></script>
  {{/if}}
  </body>
  </html>