
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Welcome to Space Invaders</title>
  </head>
  <body>
    <div class="container1 relative h-screen w-screen z-0">
      <div class="absolute inset-0 flex flex-col items-center justify-center">

<div class="row">
  <div class="col-auto">
    <h2>Welcome {{user.name}} !! to the Arcade !</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Check out the Highest Scores !!</h3>

    <table id="table" >
<tr>
    <th>UserID</th>
    <th>UserName</th>
    <th>HighScore</th>
</tr>

{{#each users as |user| }}


<tr>
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.max_score}}</td>
</tr>
{{/each}}
</table>

  </div>    
</div>
 </div>
    </div> 
<script src="./js/profile.js"></script>
