<!DOCTYPE html>
<div lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./style.css" />
    <title>Space Invaders High Score</title>
  </head>
 
  <body>
<!-- component -->
<div class="bg-blue-500 ">
        <div class="flex justify-center container mx-auto my-auto w-screen h-screen items-center flex-col">
            <div class="text-slate-100 items-center">
              
            </div>
            
            <div class="w-full md:w-3/4  lg:w-1/2 flex flex-col items-center bg-slate-50 rounded-md pt-12">
                <!-- email input -->
                <div class="w-3/4 mb-6">
                    <input type="email" name="email" id="email" class="w-full py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 hover:ring-gray-600 outline-slate-500 border-solid border-2 border-slate-300" placeholder="Email adress">
                </div>
                <!-- password input -->
                <div class="w-3/4 mb-6">
                    <input type="password" name="password" id="password" class="w-full py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 hover:ring-gray-600 outline-slate-500  border-solid border-2 border-slate-300" placeholder="Password">
                </div>
                <!-- button -->
                <div class="w-3/4 mb-12">
                    <button type="submit" class="py-4 bg-blue-500 w-full rounded text-blue-50 font-bold hover:bg-blue-700"> LOGIN</button>
                </div>
            </div>
            <div class="flex justify-center container mx-auto mt-6 text-slate-100 text-sm">
                <div class="flex flex-col sm:flex-row  justify-between md:w-1/2 items-center">
                    <div class="flex" >Forgot your password</div>
                    <div class="flex " >Don't have an account? Get Started</div>
                </div>
            </div>
        </div>
        
        
    </div>
    <script type="module" src="./js/login.js"></script>
  </body>
</html>
	
   
	
      {{!-- <div class="flex justify-center items-center mr-auto ml-auto">
    
          <div class="container1 relative">
            <div class="login">
              <h1>Space Invaders Login Page</h1>
              <form class="form login-form">
                <div class="form-group">
                  <label for="email-login">Email:</label>
                  <input class="form-input" type="text" id="email-login" />
                </div>
                <div class="form-group">
                  <label for="password-login">Password:</label>
                  <input class="form-input" type="password" id="password-login" />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" type="submit">Login</button>
                </div>
                <div id="errorMSG"></div>
              </form>
            </div>
          </div>
      </div> --}}
