<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>


<div class="container1 relative">
        <div class="profile">
			<h1>
             Highest Scores
            </h1>
		</div>      
   
            <div>
                <p>
                    {{user.id}}.
                    {{user.name}}.
                    {{user.max_score}}
                </p>
            </div>
		
    </div>
  <script src="./js/profile.js"></script>