
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./style2.css" />

    <title>Space Invaders Sign Up Page</title>
  </head>
  <body>
    <h3 class="centered color-red">Sign Up and Start Leveling Up!</h3>
    <div class="container1 relative h-screen w-screen z-0">
      <div class="absolute inset-0 flex flex-col items-center justify-center">
        <div
          class="w-11/12 p-12 sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-4/12 px-6 py-10 sm:px-10 sm:py-6 bg-white rounded-lg shadow-md lg:shadow-lg"
        >
          <h2
            class="text-center font-semibold text-3xl lg:text-4xl text-gray-800"
          >
            Create Account
          </h2>

          <form class="mt-10 signup-form" method="POST">
            <label
              for="name"
              class="block text-xs font-semibold text-gray-600 uppercase"
              >name</label
            >
            <input
              id="name"
              type="name"
              name="name"
              placeholder="name"
              autocomplete="name"
              class="block w-full py-3 px-1 mt-2 text-gray-800 appearance-none border-b-2 border-gray-100 focus:text-gray-500 focus:outline-none focus:border-gray-200"
              required
            />
            <label
              for="email"
              class="block text-xs font-semibold text-gray-600 uppercase"
              >email</label
            >
            <input
              id="email"
              type="email"
              name="email"
              placeholder="e-mail address"
              autocomplete="email"
              class="block w-full py-3 px-1 mt-2 text-gray-800 appearance-none border-b-2 border-gray-100 focus:text-gray-500 focus:outline-none focus:border-gray-200"
              required
            />

            <label
              for="password"
              class="block mt-2 text-xs font-semibold text-gray-600 uppercase"
              >Password</label
            >
            <input
              id="password"
              type="password"
              name="password"
              placeholder="password"
              autocomplete="current-password"
              class="block w-full py-3 px-1 mt-2 mb-4 text-gray-800 appearance-none border-b-2 border-gray-100 focus:text-gray-500 focus:outline-none focus:border-gray-200"
              required
            />

            <button
              type="submit"
              class="w-full py-3 mt-10 bg-gray-800 rounded-sm font-medium text-white uppercase focus:outline-none hover:bg-gray-700 hover:shadow-none"
            >
              Create
            </button>
          </form>
        </div>
      </div>
    </div>

    <script src="./js/signup.js"></script>
  </body>
</html>