body {
    background-image: url('../public/assets/Space_Invaders_Invincible_061.webp');
    background-size: cover;
}

.centered {
    text-align: center;
  }
  
  .color-red {
    color: greenyellow;
  }
